
.white_police {
  color: white;
}
.title_questions {
  color: rgb(15, 1, 66);
  margin: 0px !important;
  padding-top: 20px;
  padding-bottom: 40px;
}
#envoyer {
  margin-top: 40px;
  width: 200px;

}
.margeleft {
  margin-left: 10px;
}
.littleform
{
  margin-top: 10px;
  width: 295px
}

.marge {
  margin:20px;
}

.contact-form {
  background-color: rgb(123, 91, 229);
}


#question {
  width: 600px;
  height: 300px;
}


.margin_bottom {
  margin-bottom: 50px;
}

.resize2 {
  width: 120%;
  margin-top: 40px;
}

.bottom {
  z-index: 0;
}
.padding-img-caroussel {
 margin-top: 40px;
 margin-bottom: 40px;
}

.padding-left-carroussel {
  padding-left: 100px;
  padding-top: 60px;
}

.image {
  position: absolute
}

#hide{
     visibility: hidden;
 }

.top {
     z-index: 2;

 }

 .top1 {
    z-index:1;
 }
 .ball_size {
  position: relative;
  top: 291px;
  right: 37px;
  height: 45px;

 }


.img_size {
  width: 80%;
  margin-left: -130px;
}
#ballon {
  margin-bottom: 100px;
  height: 500px;
}
#mc_embed_signup {
   clear:left;
   font:14px Helvetica,Arial,sans-serif;
 }

#mailchimp-form {
  color: black;

}

.color-para {
  color: black;
}
#fake-navbar
{
  border-bottom: solid 1px rgb(1, 1, 51);
  height: 60px;
  img{

      display: block;
      margin: 0 auto;
      height: 3em;
      padding-top:  10px;
    }
}


#banner
{
  //height: 500px;
  background-image: image-url("img-banner-landingpage-ws.jpg");
  background-position:center center;
  background-size: cover;
  }

#margin-top-banner
{
  margin-top: 60px;
  font-size: 2.5em;
  color:white;

}

#store-img
{
  img{
    display: inline-block;
  }
}
.store-img-size
{
  width:150px;
  height: 60px;
  display: block;
  margin-top: 50px;
}

.resize
{
  width: 80%;
  margin-top: 20px;
}

.size_img_app
  {
    width: 350px;
    height: 400px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .fleche {
    width: 20px;
    height: 30px;
    margin-left: 150px;
    margin-top: 200px;
  }



#app_description
{

  height: 550px;
  background-color: rgb(229, 243, 252);;


    h3{
      color: rgb(1, 1, 51);
  }
}

.fa
{
  margin: 15px;

  font-size: 2em;
}

#socialnetwork .fa {
  margin: 15px;

  font-size: 3em;
}




#message_form
{
  width: 30em;
  height: 20em;
}

form
{
  padding: 10px;
}

.special-name
{
  color: $blue;
}

#restez {
  padding-bottom: 40px;
}

#logo
{
  border-top: solid 1px rgb(1, 1, 51);
  border-bottom: solid 1px rgb(1, 1, 51);
    img{
      display:block;
      margin: 0 auto;
      height: 70px;
      margin-top: 30px;
      margin-bottom: 10px;
    }

    p {
      color:rgb(1, 1, 51);
      margin-bottom: 25px;
    }
}

.description-jeu-concours {
  font-size: 25px;
  padding-bottom: 80px;
}
.fadeIn {
  opacity: 0;
  animation: fadeIn 10s 0.5s ease forwards;
  -webkit-animation: fadeIn 10s 0.5s ease forwards;
  -moz-animation: fadeIn 10s 0.5s ease forwards;
}

@keyframes fadeIn {
  /* your animation code */

}
@-webkit-keyframes fadeIn {
  /* your animation code */
}
@-moz-keyframes fadeIn {
  /* your animation code */
}

.popover {
   text-align: center;

         /* Here you can design your popover divs */
}

.popover img {
  width: 80%;
}

#mce-MMERGE3 {
  height: 400px;

}

.small {
  width: 33% !important;
  display: inline-block !important;
}

@media screen and (max-width: 600px) {
  .ball_size {
    position: relative;
    top: 305px;
    right: -35px;
    height: 45px;
  }

  .fa {
    margin: 6px;
    font-size: 1.6em;
    margin-bottom: 70px;
  }

  #question {
    width:300px;
  }

  .margeleft {
    margin-left: 0px;
  }
}

