
#WF-description{
  font-size: 0.5em;
  font-weight: 200;
}

.leftie {
  margin-left:65px;
}
.store-img{
  height: 50px;
  margin-top: 60px;
}

#note {
  margin-top: 120px;
  margin-bottom: 30px;
}
.height-img {
  height: 30px;
  margin: 8px;
}

.opacity {
  background-color:  rgba(255, 255, 255, 0.5);
  height:100%;

}

#christian {
white-space: nowrap;
}

#affute {
white-space: nowrap;
}

.white_police {
  color: white;
}

.title_questions {
  color: rgb(15, 1, 66);
  margin: 0px !important;
  padding-top: 100px;
  padding-bottom: 40px;
}

#envoyer {
  margin-top: 40px;

}

button {
  border-radius: 5px;
  color: rgb(15, 1, 66);
  background-color: #7891C7;
  border: black 1px;
}
.margeleft {
  margin-left: 10px;
}
.littleform
{
  border-radius: 5px;
  margin-top: 10px;
  width: 295px
}

.margeoveralltitle{

  margin-top: 120px;
}
.margeoverall {
 margin: 50px 50px 0px 50px;
}

.carousel-inner {
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  height: 650px;
}


.carousel-control.left, .carousel-control.right {
    background-image: none

}
.carousel-control {
  opacity: 1;
  text-shadow: none;
}


.contact-form {
  background-color: #7891C7;
  height: 450px;
}


#question {
  width: 600px;
  height: 300px;
}

.height-cta {
  height: 20px;
}

.margin_bottom {
  margin-bottom: 50px;
  font-size: 0.9em;
  font-weight: 200;
}

.resize2 {
  width: 430px;
  margin: 20px 0px 20px 0px;
}

.resize
{
  width: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.resize3
{
  width: 300px;
  margin-top: 65px;
  margin-bottom: 65px;
}


.padding-img-caroussel {
 margin-top: 40px;
 margin-bottom: 40px;
}

.padding-left-carroussel {
  padding-left: 130px;
  padding-top: 60px;
}



.img_size {
  width: 315px;
  margin-left: -130px;
}

#mc_embed_signup {
   clear:left;
   font:14px Helvetica,Arial,sans-serif;
 }

#mailchimp-form {
  color: black;

}


#fake-navbar
{
  border-bottom: solid 1px rgb(1, 1, 51);
  height: 60px;
  img{
      display: block;
      margin: 0 auto;
      height: 3em;
      padding-top:  10px;
    }
}


#banner
{
  height: 660px;
  background-image: image-url("stadeimg.jpg");
  background-position: 0% 100%;
  background-size: cover;
  }

#margin-top-banner
{
  margin-left: 60px;
  margin-top: 60px;
  font-size: 2.5em;
  color:white;

}


.fleche {
    width: 20px;
    height: 30px;
    margin-left: 150px;
    margin-top: 200px;
  }

.height-fleche {
  height: 50px;
  margin-top: 280px;
}

#app_description
{


  background-color: rgb(35, 136, 251);
  color: white;

    h3{
      color: rgb(1, 1, 51);
      font-size: 20px;
  }
}

.fa
{
  margin: 15px;

  font-size: 2em;
}

#socialnetwork .fa {
  margin: 15px;

  font-size: 3em;
}




#message_form
{
  width: 30em;
  height: 20em;
}

form
{
  padding: 10px;
}

.special-name
{
  color: $blue;
}

#restez {
  padding-bottom: 40px;
}

#logo
{
  height: 300px;
  border-top: solid 1px rgb(1, 1, 51);
  border-bottom: solid 1px rgb(1, 1, 51);
    img{
      display:block;
      margin: 0 auto;
      height: 100px;
      margin-top: 90px;
      margin-bottom: 10px;
    }

    p {
      color:rgb(1, 1, 51);
      margin-bottom: 25px;
    }
}


#mce-MMERGE3 {
  height: 400px;

}


@media screen and (max-width: 768px) {


.resize3{
  margin-top: 180px;
}

.resize2{
  margin-top: 150px;
}

.resize {
  margin-top: 160px;
}

  h1 {
    font-size: 0.8em;
  }

.height-img {
  height: 30px;
  margin: 8px;
}

  .margeleft {
    margin-left: 0px;
  }

  .padding-left-carroussel {
    padding-left: 0px;
  }
}


