---
title: Wefoot
---

<div id= "banner">
  <div id="fake-navbar">
    <img src="images/logo_wefoot_string.svg" alt="logo-string">
  </div>
  <div class= "container">
    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 col-sm-offset-1" id="margin-top-banner">
         <h1>WeFoot, l'appli qui déchire pour organiser tes matchs de foot </h1>
         <p class="description-jeu-concours">Trouve le joueur qu'il te faut et choisis ton arène</p>
      </div>

      <div class=" col-xs-12 col-sm-5" id="ballon">
        <img class="img_size" id="home_page" src="images/iphone_appli.svg">
        <img class="img_size" id="page_trouver" src="images/page_trouver_un_foot_resultat.jpg">
          <img class="img_size" id="page_defi" src="images/page_defi_intro2.jpg">
      </div>
    </div>
  </div>
</div>



<div id="app_description" class= "text-center">
  <div class= "container">
    <div class="row">
      <div class="col-xs-12 col-sm-5 color-para">
        <h3>L'appli dernier cri pour organiser tes matchs de foot !!</h3>
        <br>
        <p >Fini les galères pour organiser tes matchs. Avec Wefoot, épargne toi le calvaire d'une organisation fastidieuse ! Organisez son foot du dimanche devient un vrai plaisir !</p>
        <br>
        <br>
        <i class="fa fa-pencil"></i>
        <i class="fa fa-calendar"></i>
        <i class="fa fa-phone-square"></i>
        <i class="fa fa-globe"></i>
        <i class="fa fa-lock"></i>
        <i class="fa fa-envelope"></i>
      </div>
      <div class= "text-center">
        <div class="col-xs-12 col-sm-offset-3 col-sm-4">
          <img data-sr="wait 0.7s and scale up 10% over 3s" class= "size_img_app" src="images/captures_appli.svg" alt="captures_appli" >
        </div>
      </div>
    </div>
  </div>
</div>


  <div id ="logo">
    <img src="images/logo_rond.svg" alt="logo">
    <p class= "text-center">URBAIN & CONNECTE</p>
  </div>

<!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
<script src='/js/scrollReveal.min.js'>  </script>
<script>
  window.sr = new scrollReveal();
</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>




